$ascribe-rc-colors--black: #1E1E1E;
$ascribe-rc-colors--dark-blue: #003C69;
$ascribe-rc-colors--off-black: #333333;
$ascribe-rc-colors--off-white: #CCC;
$ascribe-rc-colors--pink: #D10074;
$ascribe-rc-colors--red: rgb(169, 68, 66);
$ascribe-rc-colors--strong-gray: #616161;
$ascribe-rc-colors--strong-grey: #616161;
$ascribe-rc-colors--white: #F8F8F8;

$ascribe-rc-colors--primary-bg: white;
$ascribe-rc-colors--primary-fg: $ascribe-rc-colors--dark-blue;

$ascribe-rc-colors--text-base: $ascribe-rc-colors--off-black;
$ascribe-rc-colors--text-primary: $ascribe-rc-colors--dark-blue;
$ascribe-rc-colors--text-secondary: $ascribe-rc-colors--strong-gray;
$ascribe-rc-colors--text-danger: $ascribe-rc-colors--red;
